<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h4>Mini blog App</h4>
    <ul>
      <% posts.forEach((item) => { %>
        <li><a href="/post/<%=item.id%>"><%= item.title %></a></li>
      <% }) %>
    </ul>
  </body>
</html>
